/* main CSS */

* {
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 14px;
  }
  
  /* === Typography === */
  .title-1 {
    margin: 16px 0;
    font-size: 36px;
    color: #151515;
    font-weight: 700;
    line-height: 150%;
  }
  
  .title-2 {
    font-size: 24px;
    color: #151515;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 16px;
  }
  
  .title-3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }
  
  .title-4 {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
  }
  .header {
    margin: 16px 0;
    font-size: 36px;
    color: #151515;
    font-weight: 700;
    line-height: 150%;
  }
  
  .description {
    font-size: 14px;
    color: #151515;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 16px;
  }
  
  /* === Button === */
  .btn-master,
  .btn-primary {
    padding: 8px 12px 8px 12px;
    border-radius: 2px;
    border: 0;
    font-size: 14px;
    font-weight: 700;
  }
  
  .btn-primary {
    background: #5CB85F;
    color: #FFFFFF;
  }
  
  .btn-primary:hover {
    background: #3D7B3F;
  }
  
  .button-signup {
    margin-left: 32px;
  }
  
  /* === Custon Navbar === */
  .navbar {
    padding: 25px 0;
    background: #F1F3FF;
  }
  
  .navbar .navbar-brand img {
    height: 40px;
    width: 100%;
    position: relative;
  }
  
  .navbar .navbar-nav .nav-link {
    padding-left: 32px;
    font-weight: 400;
    color: #000;
  }
  
  /* === Setup main content === */
  .section-1 {
    background: #F1F3FF;
    position: relative;
    height: 400px;
    margin-bottom: 50px;
  }
  
  .section-1 .hero {
    height: 400px;
  }
  
  .section-2 {
    padding: 50px 0;
  }
  
  .section-2 ul {
    padding: 0;
    margin-top: 2px;
  }
  
  .section-2 ul li {
    position: relative;
    list-style: none;
    background: url("../images/checklist.svg") no-repeat left center;
    vertical-align: middle;
    margin-bottom: 8px;
    padding: 8px;
  }
  
  .section-2 ul li span {
    padding-left: 36px;
  }
  
  .section-3 {
    padding: 50px 0;
  }
  
  .section-4 {
    padding: 50px 0;
    overflow: hidden;
  }
  
  .section-5 {
    padding: 50px 0;
  }
  
  .section-6 {
    padding: 50px 0;
  }
  
  .img-car {
    width: 704px;
    z-index: 2;
  }
  
  @media screen and (max-width : 991px) and (min-width : 576px) {
    .img-car {
      display: none;
    }
  }
  
  .rectangle {
    position: absolute;
    width: 50%;
    height: 205px;
    background: #0D28A6;
    right: 0;
    top: 195px;
    border-radius: 55px 0 0 0;
    z-index: 1;
  }
  
  @media screen and (max-width: 991px) and (min-width : 576px) {
    .rectangle {
        display: none;
        position: relative;
    }
  }
  
  .img-service {
    width: 459px;
  }
  
  
  .card {
    width: 268px;
    height: 196px;
    margin: 10px 0;
  }
  
  .card-body {
    padding: 1.5rem 1.5rem;
  }
  
  .card-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
  }
  
  .icon {
    margin-bottom: 16px;
  }
  
  .owl-carousel {
    overflow: hidden;
  }
  
  .owl-carousel .owl-item img {
    width: auto;
  }
  
  .owl-nav {
    margin: 24px 0 0;
    text-align: center;
  }
  
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel .owl-nav button.owl-prev {
    margin: 0 20px;
    height: 32px;
    width: 32px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 50px;
  }
  
  .owl-carousel .owl-nav button.owl-next:hover,
  .owl-carousel .owl-nav button.owl-prev:hover {
    background: #5CB85F;
    border: none;
  }
  
  .bg-testimonial {
    overflow: hidden;
    position: relative;
    background-color: #e3d9ff;
    width: 100%;
    height: 270px;
    border-radius: 8px;
  }
  
  .img-testimonial {
    width: 80px;
    height: 80px;
  }
  
  .title {
    color: #fff;
    font-weight: 500;
    margin: 5px 0;
  }
  
  .star img {
    float: left;
    margin-bottom: 8px;
  }
  
  .desc-testi {
    position: relative;
    float: left;
    text-align: left;
    padding-right: 32px;
  }
  
  .desc-testi p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 8px;
  }
  
  .user-testi {
    position: relative;
    float: left;
    text-align: left;
  }
  
  .user-testi p {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
  }
  
  .bg-biru {
    width: 100%;
    height: 326px;
    background: #0D28A6;
    border-radius: 13px;
  }
  
  .desc-sec-5 {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 52px;
  }
  
  .accordion .accordion-item {
    border: 1px solid rgba(0, 0, 0, 0.125) !important;
    border-radius: 4px !important;
    overflow: hidden;
  }
  
  /* Setup css for footer */
  .circle {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    background: #0D28A6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 16px;
  }
  
  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .list-footer {
    list-style: none;
    padding-left: 0;
  }
  
  .list-footer li {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 16px;
  }
  
  .list-footer li a {
    text-decoration: none;
    color: #151515;
  }
  
  footer {
    padding: 50px 0;
  }
  
  /* === Responsive for small devices === */
  @media screen and (max-width: 575px) {
    .card {
      width: 100%;
    }
  
    .bg-biru {
      height: 450px;
    }
  }
  /* === Responsive for medium devices === */
  @media screen and (max-width: 767px) {
    .card {
      width: 100%;
    }
  }

  /* === Responsif for small devices (mobile phone) (landscape phones, 576px and up) === */
  @media screen and (max-width: 576px) and (min-width: 360px ) {
    .collapse {
        position: relative;
        width: 180px;
        height: 640px;
        left: 0px;
        top: 0px;
        
        background: #FFFFFF;
        /* Shadow/Low */
        
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
      }  
    .section-1 {
        width: 360px;
        height: 546px;
        left: 0px;
        top: 0px;

        background: #F1F3FF;
    }
    .rectangle {
        position: absolute;
        width: 344.22px;
        height: 155.81px;
        left: 16px;
        top: 390.19px;

        /* Primary/DarkBlue/04 */

        background: #0D28A6;
        border-radius: 60px 0px 0px 0px;
    }
    .img-service {
        position: relative;
        width: 252px;
        height: 228px;
        left: 0px;
        top: 0px;
    }
  }

  /* === Responsif for dekstops (large dekstops, 1200px and up) === */
  @media screen and (max-width: 3226) and (min-width : 1440) {
   
  }
  
  /* === Responsif for medium devices (tablets, 768px and up) ===*/

  /* === Responsif for large devices (dekstops, 992px and up) ===*/

 /* === Responsif for extra large devices (large dekstops, 1200px and up) ===*/

 /*# sourceMappingURL=main.css.map */
  
  
  
  
  
  
  