// SCSS atau Sassy CSS adalah sintaks terbaru dari SASS (Syntactically Awesome Style Sheets). SASS : preprocessor CSS,
// sebuah program untuk mengolah data menggunakan syntax tertentu dengan output CSS
// Colors
$blue05: #091B6F;
$blue04: #0D28A6;
$blue03: #5E70C4;
$blue02: #5E70C4;
$blue01: #5E70C4;
$green05: #3D7B3F;
$green04: #5CB85F;
$green03: #92D094;
$green02: #C9E7CA;
$green01: #DEF1DF;
$danger: #FA2C5A;
$warning: #F9CC00;
$success: #73CA5C;
$neutral05: #151515;
$neutral04: #3C3C3C;
$neutral03: #8A8A8A;
$neutral02: #D0D0D0;
$neutral01: #FFFFFF;

// Typography
$light: 300;
$regular: 400;
$bold: 700;

$body-10: 10px;
$body-12: 12px;
$body-14: 14px;
$title-16: 16px;
$title-18: 18px;
$heading-20: 20px;
$heading-24: 24px;

// Shadow
$low: 0px 0px 4px rgba(0, 0, 0, 0.15);
$high: 0px 0px 10px rgba(0, 0, 0, 0.15);
$font-weights: ("light": 300, "regular": 400, "medium": 500, "semibold": 600, "bold": 700, );

* {
    font-family: "Helvetica";
    font-weight: $regular;
    font-size: $body-14;
}

.title-1 {
    margin: 16px 0;
    font-size: 36px;
    color: $neutral05;
    font-weight: $bold;
    line-height: 150%;
}

.title-2 {
    font-size: $heading-24;
    color: $neutral05;
    font-weight: $bold;
    line-height: 36px;
    margin-bottom: 16px;
}

.title-3 {
    font-size: $title-16;
    line-height: 24px;
    font-weight: $bold;
}

.title-4 {
    font-weight: $bold;
    font-size: 36px;
    line-height: 54px;
    color: $neutral01;
}

.header {
    margin: 16px 0;
    font-size: 36px;
    color: $neutral05;
    font-weight: $bold;
    line-height: 150%;
}

.description {
    font-size: $body-14;
    color: $neutral05;
    font-weight: $light;
    line-height: 20px;
    margin-bottom: 16px;
}

.btn-master {
    padding: 8px 12px 8px 12px;
    border-radius: 2px;
    border: 0;
    font-size: $body-14;
    font-weight: $bold;
}

.btn-primary {
    @extend .btn-master;
    background: $green04;
    color: $neutral01;

    &:hover {
        background: $green05;
    }
}

.button-signup {
    margin-left: 32px;
}

.navbar {
    padding: 25px 0;
    background: #F1F3FF;

    .navbar-brand {
        img {
            height: 40px;
            width: 100%;
        }
    }

    .navbar-nav {
        .nav-link {
            padding-left: 32px;
            font-weight: $regular;
        }
    }

}

.section-1 {
    background: #F1F3FF;
    position: relative;
    height: 400px;
    margin-bottom: 50px;

    .hero {
        height: 400px;
    }
}

.section-2 {
    padding: 50px 0;
    ul {
        padding: 0;
        margin-top: 2px;

        li {
            list-style: none;
            background: url("../images/checklist.svg") no-repeat left center;
            vertical-align: middle;
            margin-bottom: 8px;
            padding: 8px;

            span {
                padding-left: 36px;
            }
        }
    }
}

.section-3 {
    padding: 50px 0;
}

.section-4 {
    padding: 50px 0;
    overflow: hidden;
}

.section-5 {
    padding: 50px 0;
}

.section-6 {
    padding: 50px 0;
}

.img-car {
    width: 740px;
    left: 250px;
    z-index: 2;

    @media screen and (max-width: 991px) {
        display: none;
    }
}

.rectangle {
    position: absolute;
    width: 50%;
    height: 205px;
    background: $blue04;
    right: 0;
    top: 195px;
    border-radius: 55px 0 0 0;
    z-index: 1;

    @media screen and (max-width: 991px) {
        display: none;
    }
}

.img-service {
    width: 459px;
    @media screen and (max-width: 991px) {
        display: none;
    }
}

.card {
    width: 268px;
    height: 196px;
    margin: 10px 0;
}

.card-body {
    padding: 1.5rem 1.5rem;
}

.card-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
}

.icon {
    margin-bottom: 16px;
}

.owl-carousel {
    overflow: hidden;
    .owl-item {
        img {
            width: auto;
        }
    }
}

.owl-nav {
    margin: 24px 0 0;
    text-align: center;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    margin: 0 20px;
    height: 32px;
    width: 32px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 50px;
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    background: #5CB85F;
    border: none;
}

.bg-testimonial {
    overflow: hidden;
    position: relative;
    background-color: #e3d9ff;
    width: 100%;
    height: 270px;
    border-radius: 8px;
}

.img-testimonial {
    width: 80px;
    height: 80px;
}

.title {
    color: #fff;
    font-weight: 500;
    margin: 5px 0;
}

.star {
    img {
        float: left;
        margin-bottom: 8px;
    }
}

.desc-testi {
    position: relative;
    float: left;
    text-align: left;
    padding-right: 32px;
}

.desc-testi p {
    font-size: $body-14;
    font-weight: $light;
    line-height: 20px;
    margin-bottom: 8px;
}

.user-testi {
    position: relative;
    float: left;
    text-align: left;
}

.user-testi p {
    font-size: $body-14;
    font-weight: $bold;
    line-height: 20px;
}

.bg-biru {
    width: 100%;
    height: 326px;
    background: #0D28A6;
    border-radius: 13px;
}

.desc-sec-5 {
    font-size: $body-14;
    font-weight: $light;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 52px;
}

.accordion .accordion-item {
    border: 1px solid rgba(0,0,0,.125) !important;
    border-radius: 10px !important;
    overflow: hidden;
}

.circle {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    background: #0D28A6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}

.social {
    display: flex;
}

.list-footer {
    list-style: none;
    padding-left: 0;

    li {
        font-size: $body-14;
        font-weight: $regular;
        line-height: 20px;
        margin-bottom: 16px;
        
        a {
            text-decoration: none;
            color: $neutral05;
         }
    }
}

footer {
    padding: 50px 0;
}

@media screen and (max-width: 575px) {
    .card {
        width: 100%;
    }

    .bg-biru {
        height: 450px;
    }
}

@media screen and (max-width: 767px) {
    .card {
        width: 100%;
    }
}
